#map {
    height: 40em;
}

.page-header {
    text-align: center;
}

#biografia {
    margin-top: 3em;
    height: 50em;
    width: 100%;
}

    #biografia iframe {
        width: 100%;
        height: 100%;
    }
